<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Quality Code Base - API LAB!</h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

        <div>
            <p>
            </p>What is a RESTful API?</p>
            REST stands for Representational State Transfer. It is a software architecture style that relies on a stateless communications protocol, most commonly, HTTP. REST structures data in XML, YAML, or any other format that is machine-readable, but usually JSON is most widely used. REST follows the object-oriented programming paradigm of noun-verb. REST is very data-driven, compared to SOAP, which is strongly function-driven. You may see people refer to them as RESTful APIs or RESTful web services. They mean the same thing and can be interchangeable. 
            </p>
        </div>

        <p jhiTranslate="home.question">
            If you have any question on JHipster:
        </p>

        <ul>
            <li><a href="https://qualitycodebaselab.herokuapp.com/admin/docs" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.homepage">JHipster homepage</a></li>
            <li><a href="https://qualitycodebaselab.herokuapp.com/admin/docs" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
            <li><a href="https://qualitycodebaselab.herokuapp.com/admin/docs" jhiTranslate="home.link.bugtracker">JHipster bug tracker</a></li>
            <li><a href="https://qualitycodebaselab.herokuapp.com/admin/docs" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.chat">JHipster public chat room</a></li>
            <li><a href="https://qualitycodebaselab.herokuapp.com/admin/docs" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.follow">follow @jhipster on Twitter</a></li>
        </ul>

        <p>
            <span>If you would like to lean more </span> <a href="https://www.qualitycodebase.com" target="_blank" rel="noopener noreferrer" jhiTranslate="home.github">GitHub</a>!
        </p>
    </div>
</div>
